extends layout

block content
  .container
    .about
      .div.shadow-lg.p-3.mb-5.bg-light.rounded
        h4 A TartanHacks2020 Project built by Andrew Chen, CJ May, Misha Ivkov, and Sakshi Roongta
        p !{parseMe}