extends layout

block content
  .container
    .welcome 
      .h1 Welcome
    form(method="POST" action="/api/grabtext")
      .form-group
        label(for='profile')
        input#facebookURL.form-control(type='text', name="profile", placeholder='Enter your Facebook URL')
      button.btn.btn-primary(type='submit') Submit
